.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100vh;
  width: 100vw;
}

.carousel-item img {
  object-fit: cover;
}

/* Brand name inside carousel */
.brand-name {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 8px 16px;
  border-radius: 10px;
  z-index: 10;
  h1{
    background-color:#D19C97 ;
  }
  span{
    background-color: rgba(0, 0, 0, 1);
  }
}

/* Center overlay content */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 15px;
  max-width: 100%;
  span{
    background: rgba(0, 0, 0, 1);
    color: #D19C97;
  }
}

.overlay-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.overlay-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.overlay-content .btn {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  /* border-radius: 5px; */
}

.btn-login {
  background-color: #f8c400;
  color: black;
}

.btn-login:hover {
  background-color: #e0b200;
}

.btn-explore {
  background-color: #0d65c4;
  color: white;
  border-radius: 5px;
}

.btn-explore:hover {
  background-color: #0d5baf;
}